<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>PlayersServlet</servlet-name>
        <servlet-class>app.servlets.PlayersServlets</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayersServlet</servlet-name>
        <url-pattern>/Command</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>app.servlets.CommandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/Table</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestSetvlet</servlet-name>
        <servlet-class>app.servlets.TestSetvlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSetvlet</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
</web-app>